{% extends "MelnikHomeworkBundle::layout.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="starter-template">
            <h2>This is Audi</h2>
            {% image output="/images/screen_1404_1230.jpg"
            '@MelnikHomeworkBundle/Resources/public/images/screen_1404_1230.jpg' %}
            <img src="{{ asset_url }}" width="90%" height="90%"/>
            {% endimage %}
        </div>
    </div>
{% endblock %}